@import url("https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100;400&display=swap");

.HomePage-header {
  background-color: #282c34;
  color: #61dafb;
  height: 100vh;
  font-family: "Smooch Sans", sans-serif;
  font-size: 35px;
  padding-left: 100px;
  padding-top: 50px;
}

.HomePage-navBar {
  background-color: #181b22;
  color: #61dafb;
  height: 10vh;
  font-family: "Smooch Sans", sans-serif;
  font-size: 45px;
}

.icons {
  position: absolute;
  right: 10px;
  padding-right: 20px;
  top: 20px;
  font-size: 15px;
}

#logo {
  position: absolute;
  left: 800px;
  width: 10px;
}

#dropdown-basic-button {
  background-color: #61dafb;
}
